<app-header-image [backgroundImage]="'assets/images/others/about.jpg'" 
                  [bgImageAnimate]="true" 
                  [contentOffsetToTop]="true"  
                  [title]="'Sobre Nosotros'"
                  [desc]="'Un Restaurant con una gran tradición'">
</app-header-image>  

<div class="px-3">
    <div class="theme-container">
        <mat-card class="main-content-header"> 
            <div class="section pt-1 px-3 mt-0"> 
                <h1 class="section-title">Historia</h1> 
                <p>Con más de 40 años en el mundo gastronómico Agustina Gómez más conocida como “Doña Tina” construyó el imperio de comida típica chilena que hoy conocemos. La historia inició cuando su dueña con unos pocos kilos de harina empezó a vender pan amasado en las afueras de este lugar tradicional en un entorno campestre en la comuna de Lo Barnechea, hoy el restaurante tiene capacidad para más de 600 personas y su nombre es reconocido nacionalmente como internacionalmente.</p>
                <p>En un ambiente agradable y rústico a los pies de la cordillera, los comensales disfrutan de platos de comida típica chilena. Los fines de semana y feriados contamos con música en vivo, en un lugar especial con tradición para celebrar con amigos y en familia.</p>
                <p>Los platos que la llevaron al éxito fueron “Empanada de Pino”, “Plateada a lo Pobre” y “Pastel de Choclo”, los que tuvieron el objetivo de lograr la combinación de ingredientes perfecta. “Todas las recetas van acompañadas de algún secreto de la cocina que he ido descubriendo a través de muchos ensayos, por ejemplo, la Plateada tuve que hacerla 48 veces para obtener ese exquisito sabor de la carne que hoy me caracteriza”, comenta Doña Tina.</p>
                <div fxLayout="row wrap"> 
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3"> 
                        <img src="assets/images/others/about-1.jpg" alt="about-1" class="mw-100">
                    </div> 
                    <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" [ngClass.gt-sm]="(settings.rtl) ? 'pr-5' : 'pl-5'"> 
                        <h1 class="secondary-font primary-color text-center">Un lugar de encuentro</h1>
                        <p>No se puede dejar de hacer mención a otros platos estrella, como la Malaya, Arrollado, Pernil, Costillar, Filete, Lomo, que pueden ser acompañados con Papas fritas o Papas cocidas, Puré picante, Arroz y Ensaladas. También destacan en la carta sus deliciosos Porotos Granados o Cazuelas de vacuno, ave o pavo, preparadas con productos frescos de excelente calidad y con un toque muy personal de esta reconocida cocinera.</p>
                        <p>Cabe destacar, la constante preocupación que siempre ha caracterizado a Doña Tina por hacer sentir a los clientes como en casa, entregándoles una atención personalizada.</p>
                        <p>Nunca pretencioso Siempre satisfactorio.</p>
                    </div> 
                </div> 


    
  
            </div>  
        </mat-card>  
    </div> 
</div>    

<app-our-awards></app-our-awards>  