<h1 mat-dialog-title><span *ngIf="!user.id">Agregar</span><span *ngIf="user.id">Editar</span> Usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">      
        <mat-tab-group class="vertical-tabs tab-content-wrapped">
            <mat-tab label="Básico">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label><mat-icon>person</mat-icon> Usuario</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="form.controls.username.errors?.required">Usuario es requerido</mat-error>
                        <mat-error *ngIf="form.controls.username.hasError('minlength')">Usuario no tiene largo requerido, mínimo de 5 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label><mat-icon>vpn_key</mat-icon> Password</mat-label>
                        <input matInput formControlName="password" required [type]="passwordHide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls.password.errors?.required">Password ies requerido</mat-error>
                        <mat-error *ngIf="form.controls.password.hasError('minlength')">Password no tiene largo requerido, mínimo de 6 caracteres</mat-error>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Personal">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="nombres">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="apellidos">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <!-- <mat-form-field class="w-100">
                        <mat-label>Birthday</mat-label>
                        <input matInput [matDatepicker]="birthday" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                        <mat-datepicker #birthday></mat-datepicker>
                    </mat-form-field> -->
                    <!-- <mat-radio-group formControlName="gender">
                        <mat-radio-button value="male" labelPosition="after">Male</mat-radio-button>
                        <mat-radio-button value="female" labelPosition="after">Female</mat-radio-button>
                    </mat-radio-group> -->
                    
                </div>
            </mat-tab>
            <mat-tab label="Laboral">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Cargo</mat-label>
                        <input matInput formControlName="profile">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Imagen url</mat-label>
                        <input matInput formControlName="imagen">
                    </mat-form-field>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Contacts" formGroupName="contacts">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address">
                    </mat-form-field>
                </div>
            </mat-tab> -->
            <!-- <mat-tab label="Social life" formGroupName="social">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Facebook</mat-label>
                        <input matInput formControlName="facebook">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Twitter</mat-label>
                        <input matInput formControlName="twitter">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Google</mat-label>
                        <input matInput formControlName="google">
                    </mat-form-field>
                </div>
            </mat-tab> -->
            <!-- <mat-tab label="Settings" formGroupName="settings">
                <div fxLayout="column" class="form-field-outer">
                    <mat-checkbox formControlName="isActive">Activo</mat-checkbox>
                    <mat-checkbox formControlName="isDeleted">Bloqueado</mat-checkbox>
                    <p *ngIf="user.id"><span>Fecha de registro:</span> <i>{{hoy | date:"dd-MM-yyyy" }}</i></p> 
                    <p *ngIf="user.id"><span>Última conexión date:</span> <i>{{hoy | date:"dd-MM-yyyy" }}</i> </p>     
                </div>
            </mat-tab> -->
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!user.id">Save</span><span *ngIf="user.id">Actualizar</span></button>
        <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
    </div> 
</div>