<mat-card class="menu-item p-0" [fxLayout]="(viewType == 'grid') ? 'column' : 'row'" [ngClass]="[viewType + '-item', 'column-'+column]">   
    <div fxFlex="100" [fxShrink]="(viewType == 'grid') ? '3' : '2'" class="thumbnail-section">
        <mat-chip-listbox *ngIf="menuItem.disponibilidad !== 'disponible'">
            <mat-chip-option color="warn" highlighted selectable="false">No Disponible</mat-chip-option>
        </mat-chip-listbox> 
        <div *ngIf="lazyLoad && menusService.ventaCliente?.tieneMesa">
            <img [attr.data-src]="menuItem.imagen.medium" class="w-100 d-block swiper-lazy">
            <div class="swiper-lazy-preloader"></div>  
        </div>  
        <img *ngIf="!lazyLoad" [src]="menuItem.imagen.medium" class="w-100 d-block">  
    </div>  
    <div fxFlex="100" class="p-3"> 
        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-100">
            <mat-card-content class="mb-0 p-0">
                <!-- <h1 class="title"><a [routerLink]="['/menu', menuItem.id]">{{menuItem.nombre}}</a></h1>    -->
                <h1 class="title"><a>{{menuItem.nombre}}</a></h1>   
                <div class="mt-2"> 
                    <p>{{menuItem.descripcion}}</p> 
                    <div *ngIf="viewType == 'list'" fxShow="false" fxShow.gt-sm="true">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magnam illum, suscipit nostrum ea quidem. Architecto quisquam eligendi tempora, obcaecati delectus, odio natus suscipit vel est temporibus error officia esse!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis magnam illum, suscipit nostrum ea quidem. Architecto quisquam eligendi tempora, obcaecati delectus, odio natus suscipit vel est temporibus error officia esse!</p>
                    </div>  
                </div>  
            </mat-card-content>
            <div class="sticky-footer-helper" fxFlex="grow"></div>
            <div class="m-0 p-0">
                <div class="features">     
                    <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                        <mat-icon color="primary" class="mat-icon-sm">local_offer</mat-icon>
                        <span class="px-1">Categoría:</span>
                        <span class="dots"></span>
                        <span class="fw-500">{{  menuItem.categoria }}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center" class="mb-1">
                        <mat-icon color="primary" class="mat-icon-sm">{{ (menuItem.disponibilidad === "disponible") ? 'check_circle' : 'unpublished'}}</mat-icon>
                        <span class="px-1">Disponible:</span>
                        <span class="dots"></span>
                        <span class="fw-500">{{ (menuItem.disponibilidad === "disponible") ? 'Disponible':'No Disponible'}}</span>
                    </p>

                </div> 

                <!-- <div fxLayout="row" [fxLayoutAlign]="(viewType == 'grid') ? 'space-between center' : 'end center'" class="mt-3">
                    <span class="text-muted">Valoración<span *ngIf="viewType == 'list'" class="px-2">:</span></span>
                    <app-rating [ratingsCount]="menuItem?.ratingsCount" [ratingsValue]="menuItem?.ratingsValue"></app-rating>
                </div>   -->
                <div fxLayout="row" fxLayoutAlign="space-between center" class="divider mt-1"> 

                    <h2  class="primary-color"> 
                        {{menuItem.precio | currency : 'CLP' : '$' : '' }}  
                    </h2> 
                    <!-- <h2 *ngIf="menuItem.discount">  
                        <span class="text-muted old-precio">{{menuItem.precio | currency : currency : 'CLP' : 'symbol' : ''}}</span> 
                        <span class="primary-color mx-2">{{ (parseInt(menuItem.precio) - (parseInt(menuItem.precio) * (menuItem.discount / 100))) | currency : currency : 'CLP' : 'symbol' : ''}}</span>
                    </h2>  -->


                    <div class="text-muted">  
                        <!-- <button mat-icon-button [disabled]="onFavorites()" (click)="addToFavorites()" matTooltip="Agregar a favoritos">
                            <mat-icon>favorite_border</mat-icon>
                        </button> -->
                        <button mat-icon-button [disabled]="onCart() || (menuItem.disponibilidad !== 'disponible')" (click)="addToCart()" matTooltip="Agregar al carro">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>  
                    </div> 
                </div> 
            </div> 
        </div>   
    </div>  
</mat-card>