<div class="px-3 py-5">
    <div class="theme-container"> 
        <mat-sidenav-container class="checkout">
            <mat-card class="p-3"> 
                <button fxHide="false" fxHide.gt-sm mat-mini-fab color="warn" class="close" (click)="sidenav.toggle()">
                    <mat-icon>close</mat-icon>
                </button> 
                <div fxLayoutAlign="start center">
                    <mat-icon class="text-muted">receipt_long</mat-icon>
                    <h2 class="secondary-font mx-2">Resumen de la orden</h2>
                </div>  
                <div class="divider my-3"></div>
                <div *ngFor="let menuItem of appService.Data.cartList" fxLayout="row" fxLayoutAlign="space-between start" class="mb-3">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <img [src]="menuItem.imagen.small" width="60" alt="item"> 
                        <a [routerLink]="['/menu', menuItem.id]" class="menu-item-name px-2">{{menuItem.nombre}}</a>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="end end">
                        <span *ngIf="!menuItem.discount" class="fw-500"> 
                            {{menuItem.precio | currency : 'CLP' : '$' : ''}}  
                        </span> 
                        <!-- <span *ngIf="menuItem.discount" class="fw-500">  
                            {{ (parseInt(menuItem.precio) - (parseInt(menuItem.precio) * (menuItem.discount / 100))) | currency : 'CLP' : 'symbol' : ''}}
                        </span>  -->
                        <small class="text-muted ws-nowrap fw-500">Cant: {{menuItem.cartCount}}</small>
                    </div>  
                </div>
                <div *ngIf="appService.Data.cartList.length == 0" fxLayout="column" fxLayoutAlign="center center" class="text-center py-2"> 
                    <svg viewBox="0 0 24 24" class="mat-icon mat-icon-xlg primary-color">
                        <path d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" />
                    </svg> 
                    <h3 class="secondary-font mt-3">Tu carro actualmente está vacío</h3>
                    <p class="text-muted">Debes agregar preparaciones al carro</p>  
                    <a [routerLink]="['/menu']" mat-raised-button color="primary" class="mt-2 mb-3">Seguir comprando</a> 
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start" class="divider pt-2">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span>SubTotal:</span>
                        <!-- <span class="text-muted">Descuento:</span> -->
                        <h3>Total:</h3>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="end end"> 
                        <span>{{appService.Data.totalPrice | currency : 'CLP' : '$' : ''}}</span> 
                        <!-- <span class="text-muted">15%</span> -->
                        <h3 class="primary-color">{{ appService.Data.totalPrice | currency : 'CLP' : '$' : ''}}</h3> 
                    </div> 
                </div> 
                <button mat-raised-button color="primary" type="button" class="mt-2 w-100" [disabled]="!appService.Data.cartList.length" (click)="placeOrder()">Pagar la orden</button>           
            </mat-card>

        </mat-sidenav-container> 
    </div>
</div>